.grad1 {
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to left, black , blue);
  }

 .bg-dark-blue{
   background-color: #33475A;
 }